<h3> Change Password </h3>

<%= form_tag(admin_password_change_path, method: :post) do %>

		<%= hidden_field_tag :id,params[:id] %>

		<strong>Enter Your Current Password</strong><br/>
		<%= password_field_tag :current_password %>

	<div><%=label_tag :new_password %>
		<%= password_field_tag :password %></div>

	<div><%=label_tag :new_password_confirmation %>
		<%=password_field_tag :password_confirmation %></div>


  <div><%= submit_tag "Change Password"%></div>
 <%end%>