<div class="well" align="center" style="margin-left:30%;margin-right:30%;margin-top:5%;margin-bottom:5%">
	<h1>Admin Registration</h1>
<%= form_for @admin,:url=>admin_create_path, method: :post do |f|%>
	<div><%= f.label :username %>
		<%= f.text_field :username %></div>

	<div><%=f.label :password %>
		<%= f.password_field :password %></div>

	<div><%=f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %></div>

	<div><%= f.label :role %><br />
  	<%= f.select :role, options_for_select([["Select One", ""], "Principal", "Office"]) %></div>

  <div><%= f.submit "Sign Up"%></div>
 <%end%>
</div>