<%= form_for @office, url:office_create_path do |f| %>

  <div> <%= f.label :date %>
  	    <%= f.date_select :date %></div>

  <div> <%= f.label :voucher_no %>
   	    <%= f.text_field :voucher_no%></div>

  <div> <%= f.label :department_id %>
  	    <%= f.select(:department_id, Department.all.collect {|d| [d.name, d.id]}, {include_blank: 'Select One'}) %></div>

  <div> <%= f.label :name %>
  	    <%= f.text_field :name %></div>

  <div> <%= f.label :description %>
  	    <%= f.text_area :description%></div>

  <div> <%= f.label :price_unit %>
 		<%= f.text_field :price_unit, :id=> "price_unit", :class=>"calc" %></div>

  
  <div> <%= f.label :quantity %>
  	    <%= f.number_field :quantity, id: "quantity", :class=> "calc" %></div>


  <div> <%= f.label :total_price %>
  	    <%= f.text_field :total_price, id: "total_price" %></div>


  <div><%= f.submit "Add" %></div>

<%end%>