<div class="jumbotron">
  <h1>College Of Engineering Chengannur</h1>
  <p>Stock Management App. Login To Continue.. </p>
  <%= form_tag(user_sign_in_path, method: :post)%>
	<div><%=label_tag :username %>
		<%= text_field_tag :username %></div>

	<div><%=label_tag :password %>
		<%=password_field_tag :password %></div>

  <div><%=submit_tag "Log in", :class=>"btn btn-primary"%></div>
  <!--<ul class="nav nav-pills nav-stacked">
  	<li class="active admin"><%= link_to "Principal Or Office",admin_login_path,id: "login", remote:true%> </li>
  	<li class ="active hod"><%= link_to "Head Of The Departments",department_login_path, id: "hod_login", remote: true %> </li>
  	<li class="active lab"><%= link_to "Lab In Charges",lab_login_path,id: "lab_login",remote: true %> </li> -->
  </ul>
</div>