<h3>Needs Repair</h3>	
<div style="width:100%;height:300px;overflow:auto">
<table class="table table-striped table-condensed">
	<thead>
		<th>Voucher Number</th>
		<th>Name</th>
		<th>Description</th>
		<th>Quantity</th>
		<th>Quantity Used</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @labstocks_repairs.each do|f| %>
			<tr>
				<td><%=f.office.voucher_no%></td>
				<td><%=f.office.name%></td>
				<td><%=f.office.description%></td>
				<td><%=f.quantity%></td>
				<td><%= form_tag("/lab/update_used/#{f.id}", method: :post) do%>
				
  					<%=text_field_tag :quantity_used,f.quantity_used,style: "width:50px" %>
  					<%= submit_tag "Save",:class=>"btn btn-primary btn-small"%>
  					<%end%></td>
				<td>
					<%= form_tag("/lab/update/#{f.id}", method: :post) do%>
				
  					<%= select_tag :status, options_for_select([["Repair", ""], ["Perfectly working","P"], ["Irrepairable","I"],["WriteOff","W"]]),style: "width:150px" %>
  					<%= submit_tag "Change",:class=>"btn btn-primary btn-small", prompt: true%>
  					<%end%>  
  				</td>  
			</tr>
		<%end%>
	</tbody>
</table>
</div>