 <div class="span12">
 <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Request Stock", "#"  %></li>
              <li><%= link_to "Request Write Off", "#"  %></li>
              <li><%= link_to "Link3", "#"  %></li>
            </ul>
          </div>
 </div>

 <div class="span10">

 <!-- Nav Tabs !-->
	<div class="span9">
		<ul class="nav nav-tabs">
      <li class="nav-header" >STATUS</li>
      <li class="active"><a href="#perfect" data-toggle="tab">Perfectly Working</a></li>
  		<li><a href="#repair" data-toggle="tab">Needs Repair</a></li>
  		<li><a href="#irrepair" data-toggle="tab">Irrepairable</a></li>
    </ul>
	

	<!-- Tab Panes !-->
 	  <div class="tab-content">
  	 <div class="tab-pane fade in active" id="perfect">
  		  <%= render "perfect" %>
  	 </div>
  	 <div class="tab-pane fade" id="repair">
  		<%= render "repair" %>
  	 </div>
  	 <div class="tab-pane fade" id="irrepair">
  		<%= render "irrepair" %>
 		 </div>
	 </div>
  </div>
</div>
</div>
