<div>
  <%= form_tag "/lab/search", :method => 'get' do %>
      <%= text_field_tag :search,nil,:placeholder=>"Search Your Inventory" %>
      <%= submit_tag " Search" %>
  <% end %>
  <% unless @search.nil? %>
    <%= render "search" %>
  <%end%> 
</div>


 <div class="span12">
 <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><p class="alert alert-info">Request Items</p></li>
              <li>
                <div>
                <%= form_tag(message_need_stock_path,method: :post) do %>
                  <%= text_area_tag :name,nil, :placeholder=>"Description"%>
                  <p>Quantity</p>
                  <%= number_field_tag :quantity%>
                  <%= submit_tag "Request", :class=>"btn btn-primary" %>
                <% end %>
                </div>
              </li>
              <li><%= link_to "Request Write Off",message_writeoff_path,method: :post ,:class=>"btn btn-danger" %></li>
            </ul>
          </div>
 </div>

 <div class="span9">

 <!-- Nav Tabs !-->
	<div class="span9">
		<ul class="nav nav-tabs">
      <li class="nav-header" >STATUS</li>
      <li class="active"><a href="#perfect" data-toggle="tab">Perfectly Working</a></li>
  		<li><a href="#repair" data-toggle="tab">Needs Repair</a></li>
  		<li><a href="#irrepair" data-toggle="tab">Irrepairable</a></li>
      <li><a href="#notice" data-toggle="tab" >Messages</a></li>
    </ul>
	

	 <!-- Tab Panes !-->
 	  <div class="tab-content">
  	 <div class="tab-pane fade in active" id="perfect">
  		  <%= render "perfect" %>
  	 </div>
  	 <div class="tab-pane fade" id="repair">
  		<%= render "repair" %>
  	 </div>
  	 <div class="tab-pane fade" id="irrepair">
  		<%= render "irrepair" %>
 		 </div>
     <div class="tab-pane fade" id="notice">
      <% if @messages.empty? %>
        <p>No Messages</p>
      <%else%>
        <table class="table table-condensed">
          <thead>
            <th>Message</th>
            <th></th>
          </thead>
          <tbody>
            <% @messages.each do |message| %>
              <tr>
                <td><%= message.name%></td>
                <td><%= link_to "Seen it","/message/acknowledgement_delete/#{message.id}",method: :delete,:class=>"btn btn-danger btn-mini"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%end%>
     </div> 
	 </div>
  </div>
</div>
</div>
